@media (max-width: 575.98px) {
  .contact {
    width: 100%;
    height: 100vh;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    font-family: var(--fontfamily-2);
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .icon {
    font-size: 2.5rem;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
    color: wheat;
  }
  
  .contact-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
  }
}

  /* Media Queries for Responsiveness */
  @media (min-width: 576px) {
    .contact {
      width: 100%;
      height: 100vh;
      background-color: wheat;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    
    .contact-container {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: .1rem .1rem rgb(54, 36, 1);
      font-family: var(--fontfamily-2);
    }
    
    .icon {
      font-size: 4rem;
      margin: 0px 1rem;
      color: rgb(109, 9, 106);
      transition: transform 0.3s ease, color 0.3s ease;
    }
    
    .icon:hover {
      transform: scale(1.2);
      color: orchid;
    }
    
    .contact-title {
      width: 60%;
      height: auto;
      font-size: 10rem;
      font-weight: bold;
      text-shadow: .1rem .3rem 5px orchid;
      color: white;
      margin-top: 1rem;
      font-family: var(--font-family-2);
    }
  }

/* Media Queries for Responsiveness */
@media screen and (min-width: 884px) {
  .contact {
    width: 100%;
    height: 100vh;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .contact-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: .1rem .1rem rgb(54, 36, 1);
    font-family: var(--fontfamily-2);
  }
  
  .icon {
    font-size: 4rem;
    margin: 0px 1rem;
    color: rgb(109, 9, 106);
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
    color: orchid;
  }
  
  .contact-title {
    width: 60%;
    font-size: 6rem;
    font-weight: bold;
    text-shadow: .1rem .3rem 5px orchid;
    color: white;
    margin-top: 1rem;
    font-family: var(--fontfamily-2);
  }
}